# Files paths
CMDER_FILES_PATH=assets\cmder
COMPOSER_FILES_PATH=assets\composer
COMPOSER_V1_FILES_PATH=assets\composer\v1
GIT_FILES_PATH=assets\git
FONTS_FILES_PATH=assets\fonts
FONTS_LINKS_FILE_PATH=assets\fonts\links.txt
SCRIPTS_FILES_PATH=assets\scripts
SCRIPT_BAT_SKELETON_PATH=assets\scripts\skeleton.bat

# Installation directory names
PVM_INSTALLATION_DIRECTORY_PATH=tools\pvm
CMDER_INSTALLATION_DIRECTORY_PATH=tools\Cmder
FONTS_INSTALLATION_DIRECTORY_PATH=fonts
TOOLS_INSTALLATION_DIRECTORY_PATH=tools\bin
COMPOSER_V1_INSTALLATION_DIRECTORY_PATH=tools\composer\v1
SCRIPTS_INSTALLATION_DIRECTORY_PATH=tools\scripts

# Environment variables
USER_ENV_PATH=C:\DevEnv
PHP_INSTALLATION_PATH=C:\php
DEV_TOOLS_ENV_VAR=DEV_TOOLS_PATH

# Storage paths
STORAGE_PATH=storage
LOG_ERROR_PATH=storage\logs\error.log
PATH_VAR_BACKUP_PATH=storage\logs\path.bak.log

# External URLs
CHOCOLATEY_INSTALL_URL=https://chocolatey.org/install.ps1
PVM_URL=https://github.com/usepvm/pvm
SCRIPTS_URL=https://github.com/drissboumlik/scripts.git
COMPOSER_V1_URL=https://getcomposer.org/download/1.10.27/composer.phar
CMDER_URL=https://github.com/cmderdev/cmder/releases/download/v1.3.25/cmder.zip
CLINK_FLEX_PROMPT_URL=https://github.com/chrisant996/clink-flex-prompt.git
